dvc==0.69.0

git+https://github.com/shenweichen/GraphEmbedding.git
git+https://github.com/palash1992/GEM.git

gensim==3.8.1
jupyter==1.0.0
matplotlib==3.1.0
node2vec==0.3.1
networkx==2.3
numpy==1.17.3
papermill==2.0.0
pytorch-lightning==0.7.5
seaborn==0.10.0
scikit-learn==0.22.2
torch==1.4.0
torch-cluster==1.4.5
torch-geometric==1.3.2
torch-scatter==1.4.0
torch-sparse==0.4.3
